<html>

  <head>
    <title>Comment on Post</title>
  </head>

  <body>
    <a href="/"><h1>Alissa's Blog</h1></a>
    <h2>{{subject}}</h2>

    {% if not belongs_to_current_user %}
      {% if not liked_by_current_user %}
        <form method="POST" action="/post/{{id}}/like">
          <input type="submit" value="like" />
        </form>
      {% else %}
      <form method="POST" action="/post/{{id}}/unlike">
        <input type="submit" value="unlike" />
      </form>
      {% endif %}
    {% endif %}

    <div>
      {{number_of_likes}} likes
    </div>

    <h4>{{created}}</h4>

    <div>
      {{content}}
    </div>

    {% if belongs_to_current_user %}
    <a href="/editpost/{{id}}">edit</a>

    <form method="POST" action="/deletepost/{{id}}">
      <input type="submit" value="delete"/>
    </form>
    {% endif %}

    <hr/>

    <h3> Comment On this Post</h3>

    <form method="post">

      <label>
        <div>Your Comment</div>
        <textarea name="content"></textarea>
      </label>
      <div class="error">{{error}}</div>
      <input type="submit"/>
    </form>


  </body>

</html>
