<html>

  <head>
    <title>Post</title>
  </head>

  <body>
    <a href="/"><h1>Alissa's Blog</h1></a>
    <h2>{{subject}}</h2>

    {% if not belongs_to_current_user %}
      {% if not liked_by_current_user %}
        <form method="POST" action="/post/{{id}}/like">
          <input type="submit" value="like" />
        </form>
      {% else %}
      <form method="POST" action="/post/{{id}}/unlike">
        <input type="submit" value="unlike" />
      </form>
      {% endif %}
    {% endif %}


    <h4>{{created}}</h4>

    <div>
      {{content}}
    </div>

    {% if belongs_to_current_user %}
    <a href="/editpost/{{id}}">edit</a>

    <form method="POST">
      <input type="submit" value="delete"/>
    </form>
    {% endif %}

  </body>

</html>
