<html>
{% extends "front.html" %}
  <head>
    {% block title %}View Post{% endblock %}
  </head>

  <body>
    {% block content %}

    <h2>{{subject}}</h2>

    {% if logged_in and not belongs_to_current_user %}
      {% if not liked_by_current_user %}
        <form method="POST" action="/post/{{id}}/like">
          <input type="submit" value="like" />
        </form>
      {% else %}
      <form method="POST" action="/post/{{id}}/unlike">
        <input type="submit" value="unlike" />
      </form>
      {% endif %}
    {% endif %}

    <div>
      {{number_of_likes}} likes
    </div>
    <br>
    <br>
    <div>
      {{content}}
    </div>
    <br>
    <br>

    {% if belongs_to_current_user %}
    <a href="/editpost/{{id}}">edit</a>
    <br>
    <br>

    <form method="POST" action="/deletepost/{{id}}">
      <input type="submit" value="delete"/>
    </form>
    {% endif %}

    <hr/>
    <h2>Comments</h2>
    {% if logged_in %}
       <a href="/post/{{id}}/comment">add comment</a>
    {% endif %}
    <br>
    <br>


    <div>{{error}}</div>

    {% for comment in comments %}
      <div>{{comment.content}}</div>

      {% if comment.commenter_id == user_id %}
        <a href="/post/{{id}}/editcomment/{{comment.key().id()}}">edit</a>
        <form method="POST" action="/post/{{id}}/deletecomment/{{comment.key().id()}}">
          <input type="submit" value="delete"/>
      </form>
      {% endif %}
      <br>
      <br>
    {% endfor %}

    {% endblock %}
  </body>

</html>
