<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <a href="/login">Login</a>
  <form method="POST">
      <label>Username <input name="username" type="text" value="{{username}}"></label>
      <div>{{username_error}}</div>
      <br>
      <label>Password <input name="password" type="password" ></label>
      <div>{{password_error}}</div>
      <br>
      <label>Verify Password <input name="verify" type="password"></label>
      <div>{{verify_error}}</div>
      <br>
      <label>Email (optional)<input name="email" type="text" value="{{email}}"></label>
      <div>{{email_error}}</div>
      <br>
      <div>{{user_exists_error}}</div>
      <input type="submit"/>
  </form>
</body>
</html>
